
.img-accueil
{
  width: 40%;
  display: flex;
  align-items: right;
  border-radius: 12px;
  overflow: hidden;
}

.conteneur-img-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 10px; 
}
.mon-texte {
    flex: 1;
}