:root {
    --primary-color: #c4b5c6; 
    --secondary-color: #522c69; 
}

.img-accueil
{
  width: 40%;
  display: flex;
  align-items: right;
  border-radius: 12px;
  overflow: hidden;
}







h2 {
    color: var(--secondary-color);
    font-family: "Dancing Script", cursive;    
    font-weight: 600;
    font-size: 45px;
}

h3 {
    font-family: "Dancing Script", cursive;    
    color: var(--secondary-color);
    font-size: 35px;
    margin-top: 10px
}

p {
    color: #272626;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
}

.acceuil-list {
    color: #272626;
    
    margin-left: 100px;  
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;

    font-family: "Roboto Slab", serif;
    
}




.container-chats {
    display: flex;          
    justify-content: center; 
    gap: 20px;              
    max-width: 1200px;      
    margin: 0 auto;         
}

.carte {
    background: white;
    border-radius: 12px;    
    overflow: hidden;              
    flex: 1;                
    min-width: 0;           
}

.carte img {
    width: 100%;            
    height: 250px;          
    object-fit: cover;      
    display: block;         
}


.contenu {
    padding: 15px;
    text-align: center;
}

.contenu h3 {
    color: #333;
}

.contenu p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}


.conteneur-img-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 10px; 
}
.mon-texte {
    flex: 1;
}