:root {
    --primary-color: #c4b5c6; 
    --secondary-color: #522c69; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    font-family: "Dancing Script", cursive;    
    
    background-color: #c6a4d6;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

footer {
    background-color: #c6a4d6;
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    font-family: "Dancing Script", cursive;    
    margin-top: 20px;
}

.img-logo {
    height: 150px;       
    width: 150px;    
    text-align: right; 
}  
.spacer {

    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff91;
}


nav a {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 25px;
    display: inline-block;
    border-radius: 6px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #a49aa5;
}

nav a.active {
    background-color: rgb(100, 18, 148);
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
    background-color: #c6a4d6;
    
}


body {
    background-color: #ffffff91;
}

h1 {
    
    font-weight: 700;      
    font-size: 60px;
    text-align: center;
    flex: 1;
}

h2 {
    color: #333;
    font-family: "Dancing Script", cursive;    

}

p {
    color: #333;    
}

.carousel {
  display: flex;
  gap: 8px;
  padding: 16px;
  overflow-x: scroll;
}


.block-carousel {
  flex-shrink: 0;
  width: 80%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}


.img-carousel {
  width: 100%;
  height: 100%;
  display: block; 
  object-fit: cover; 
}

