:root {
  --primary-color: #c4b5c6; 
  --secondary-color: #522c69; 
}

h2 {
  color: var(--secondary-color);
  font-family: "Dancing Script", cursive;    
  font-weight: 600;
  font-size: 45px;
}

h3 {
  font-family: "Dancing Script", cursive;    
  color: var(--secondary-color);
  font-size: 35px;
  margin-top: 10px
}


h4 {
  font-family: "Dancing Script", cursive;    
  color: var(--secondary-color);
  font-size: 28px;
  margin-top: 10px
}




p {
  color: #272626;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}






.sujet-list-1 {
  color: #272626;  
  margin-left: 15px;  
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
    
}

.carousel {
  display: flex;
  gap: 8px;
  padding: 16px;
  overflow-x: scroll;
}


.block-carousel {
  flex-shrink: 0;
  width: 80%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}


.img-carousel {
  width: 100%;
  height: 100%;
  display: block; 
  object-fit: cover; 
}

